*{
  background-color: #cbb4f148;
}
body main {
  padding: 5px 7px;
  border: 1px solid grey;
  margin: 15px;
}
h2.heading {
  color:rgb(13, 11, 173)
}
footer {
  padding: 1px;
  color: blue;
}

#mainHeader {
  color: black;
}
